spring:
  application:
    name: relojoaria

  datasource:
    url: jdbc:postgresql://localhost:5434/relojoaria
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  private:
    key: classpath:app.key
  public:
    key: classpath:app.pub